.play-start {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.github-logo-link {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 40px;

}

.github-logo {
  width: 100%;
}
